html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  height: 50px;
  background: #4e4e4e;
  display: flex;
  align-items: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.nav-cont {
  width: 960px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company,
.nav-offer > a {
  font-size: 18px;
  text-decoration: none;
}

.nav-offer > a {
  color: #f1f1f1;
}

.company {
  font-weight: bold;
}

.nav-offer {
  color: #f1f1f1;
  padding-left: 46px;
}

.disabled {
  cursor: not-allowed;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
a,
p,
button {
  color: #ffffff;
}

header {
  height: 100vh;
  width: 100%;
  background: url("./images/background.jpg") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

.shadow {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
}

.landing {
  z-index: 10;
  width: 960px;
}

.text-box {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  z-index: 100;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  max-width: 500px;
}

.subtitle {
  font-weight: bold;
  font-size: 18px;
  padding: 40px 0;
}

.main-button {
  font-weight: bold;
  font-size: 18px;
  padding: 14px 58px;
  background: none;
  text-decoration: none;
  line-height: 21px;
  border: 3px solid #ffffff;
  transition: 1s;
}

.about,
.offer {
  width: 100%;
}

.headline-about,
.headline-offer {
  font-size: 36px;
  font-weight: bold;
  padding: 60px 0;
  color: #152d41;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  padding-bottom: 60px;
}

.member-one-photo,
.member-two-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  aspect-ratio: 1;
}

.member-one-photo {
  background: url("./images/memberone.jpg") center/cover;
}

.member-two-photo {
  background: url("./images/membertwo.jpg") center/cover;
}

.box:nth-of-type(even) {
  flex-direction: row-reverse;
  text-align: right;
}

.team,
.text-about {
  font-size: 18px;
}

.team,
.text-about,
.box-offer,
.new-offer {
  color: #000000;
}

.team {
  font-weight: bold;
  padding-bottom: 20px;
}

.headline-offer {
  color: #ffffff;
}

.offer {
  background: #405d78;
}

.box-offer {
  width: 200px;
  height: 200px;
  background: #f1f1f1;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.5s;
}

.new-offer::after {
  content: "\A (nowość)";
  white-space: pre-wrap;
  font-size: 18px;
}

.box-grid {
  display: grid;
  grid-template-columns: auto;
  gap: 60px;
  justify-content: center;
  padding-bottom: 60px;
}

.box-offer:first-of-type {
  position: relative;
}

.mini {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #e07a64;
  position: absolute;
  left: -10px;
  top: -10px;
}

footer {
  height: 71px;
  background: #4e4e4e;
  display: flex;
  align-items: center;
}

.footer-inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-square-facebook,
.fa-instagram {
  color: #ffffff;
  padding-left: 10px;
}

.fa-instagram {
  font-size: 40px;
}

.fa-square-facebook {
  font-size: 38px;
}

.footer-text {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
}

.icons {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .box-grid {
    grid-template-columns: auto auto;
  }
}

@media only screen and (min-width: 1024px) {
  .box-grid {
    grid-template-columns: auto auto auto;
  }
  .box-offer {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .box-offer:hover {
    transform: scale(1.05);
  }
  .main-button:hover {
    background: #ffffff;
    color: #000000;
  }
}

@media only screen and (max-width: 1024px) {
  .nav-list {
    display: none;
  }

  footer {
    height: 147px;
  }
  .footer-inside {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .box,
  .box:nth-of-type(even) {
    text-align: left;
    flex-direction: column;
  }

  .member-about,
  .navigation,
  .text-box {
    padding: 0 20px;
  }

  .headline-about,
  .headline-offer {
    text-align: center;
    padding-left: 0;
  }

  .headline-offer {
    font-size: 26px;
  }

  .title {
    max-width: 350px;
  }

  .box-offer {
    width: 330px;
    height: 330px;
  }
}
